/*MEDIA QUERIES*/


/*
$breakpoints: ( "small": 480px, "medium": 720px, );
@mixin small {
    @media (max-width: 480px) {
        @content;
    }
}
*/

@media (max-width: 380px) {
    .main-logo {
        margin: 0 auto;
    }
    img .main-logo {
        width: 100%;
        height: auto;
    }
    .pt-4 {
        display: flex;
        flex-direction: columns;
    }
    footer a {
        overflow: hidden;
        height: max-content;
        align-items: center;
    }
    .items-footer {
        padding: 3em;
        border: dotted var(--primary--color) 1px;
    }
}

@media (max-width: 500px) {
    .main-logo {
        margin: 0 auto;
    }
    header {
        margin-bottom: auto;
    }
    button {
        margin: auto;
    }
    img .main-logo {
        width: 100%;
        height: auto;
    }
    .pt-4 {
        display: flex;
        flex-direction: columns;
    }
    body {
        display: block;
    }
    footer {
        a {
            display: block;
            align-items: center;
            font-size: 1em;
        }
        display: inherit;
    }
    body button {
        position: relative;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}